<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>Login!</h1>
        </header>

        <div class="textcontainer" id="username">
            <input type="text" id="userbox" name="username" class="textbox" placeholder="Username">
        </div>
        <div class="textcontainer" id="password">
            <input type="text" id="passbox" name="password" class="textbox" placeholder="Password" onkeypress="getText()">
        </div>
        <div class="registerBox" id="regBox">
            <button type="submit" id="regButton" class="regButton" placeholder="Don't have an Account?">Submit</button>
        </div>
        
    </body>
    <script src="/js/login.js"></script>
</html>