<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>Login!</h1>
        </header>

        <div class="textcontainer" id="username">
            <input type="text" id="userbox" class="textbox" placeholder="type some shit here" onkeypress="getText()">
        </div>
        <div class="registerBox" id="regBox">
            <button type="button" id="regButton" class="regButton" placeholder="Don't have an Account?"></button>
        </div>

    </body>
    <script src="/js/users.js"></script>
</html>